h3 {
  text-align: center;
  color: rgb(255, 89, 0);
  font-style: italic;
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 8px;
}

.picture {
  margin-left: auto;
  margin-right: auto;
}
